@import '../../node_modules/compass-sass-mixins/lib/compass/utilities/color/_contrast.sass';

$pink-color: #69898af6;
$primary-color: #e5e3e3;
$accent-color: #EEE;

$contrasted-primary-text: darken($pink-color, 8%); // contrast-color($primary-color, lighten($accent-color, 10), darken($accent-color, 10));
$contrasted-accent-text: #111; // contrast-color($accent-color, lighten($primary-color, 10), darken($primary-color, 10));

$primary-dark: darken($pink-color, 8%);
$contrasting-primary-text-color: black; // choose-contrast-color($primary-color);
$contrasting-accent-text-color: white; // choose-contrast-color($accent-color);

$shadow-box-color: $pink-color;
$search-background-image-color: #ffffff4d;
$light-grey-border: $pink-color;
$accent-text-color: darken($accent-color, 86.67);

$sky-blue: #f5eded;
$sky-dark-blue: #495f5c;